.App {
  text-align: center;
}
.phonebook {
  text-size: 2rem;
  color: blueviolet;
  margin-left: 52px;
}
form {
  font-size: 1rem;
  margin-right: 10px;
  text-transform: uppercase;
  margin-top: -33px;
}
.inputName {
  border: 1px blueviolet solid;
  margin: 21px;
  width: 140px;
  height: 30px;
  color: blueviolet;
  font-size: 1rem;
  margin-left: 31px;
}
.inputNumber {
  border: 1px blueviolet solid;
  margin: 10px;
  width: 140px;
  height: 30px;
  color: blueviolet;
  font-size: 1rem;
}
.search {
  margin-left: -85px;
}
.searchInput {
  border: 1px blueviolet solid;
  margin: 10px;
  width: 140px;
  height: 30px;
  color: blueviolet;
  font-size: 1rem;
  margin-left: 31px;
}
.add {
  margin-left: 73px;
  color: blueviolet;
  width: 146px;
  height: 25px;
  font-size: 1rem;
  margin-bottom: -4px;
}
.list {
  margin-left: 581px;
  list-style: none;
  text-align: left;
  width: 50%;
}

h2 {
  margin-bottom: 6px;
  margin-left: 4px;
}
h3 {
  margin-top: 6px;
  margin-left: 26px;
}
