.App {
  text-align: center;
}
.phonebook {
  text-size: 2rem;
  color: blueviolet;
}
form {
  font-size: 1rem;
  margin-right: 10px;
  text-transform: uppercase;
}
.inputName {
  border: 1px blueviolet solid;
  margin: 10px;
  width: 140px;
  height: 30px;
  color: blueviolet;
  font-size: 1rem;
}
.add {
  margin-left: 52px;
  color: blueviolet;
  width: 146px;
  height: 25px;
  font-size: 1rem;
  margin-bottom: 15px;
}
.list {
  margin-left: 588px;
  list-style: none;
  text-align: left;
}
