.App {
  text-align: center;
  color: rgb(158, 28, 209);
  font-size: 2rem;
  border: 1px solid blueviolet;
  box-shadow: 0 1px 0 red;
  margin: 0 auto;
  height: 181px;
  width: 75%;
}

.quotes {
  margin: 0 auto;
  margin-top: 8px;
  color: rgb(158, 28, 209);
}
.threeVote {
  margin-top: 8px;
}

.randomButton,
.voteButton {
  width: 20%;
  height: 50px;
  background-color: rgb(202, 209, 202);
  font-size: 1.5rem;
  margin-right: 1rem;
  border-radius: 15px;
  color: rgb(82, 78, 78);
  margin: 2px;
}

.voteValue {
  color: #000;
}
